<%= stylesheet_link_tag 'scaffold' %>
<h1>Listagem de Professores</h1>
<br/>
<%= link_to 'Novo', action: 'new' %>
<table>
  <tr>
	<th>ID</th>
    <th>Nome</th>
  </tr>
<% @professores.each do |professor| %>
  <tr>
<td><%= professor.id %></td>
    <td><%= professor.nome %></td>
<td>
      <%= link_to 'Mostrar', action: 'show', id: professor %>
    </td>
<td>
  <%= link_to 'Deletar', {action: 'destroy', id: professor},
                         {method: "delete"}  %>
</td>
  </tr>
<% end %>
</table>

<br>
<%= link_to 'Voltar', root_path %>

