<%= stylesheet_link_tag 'scaffold' %>
<h1>Adicionando Professor</h1>

<ul>
<% @professor.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>


<%= form_for @professor do |f| %>
  Nome: <%= f.text_field :nome %><br/>
  <%= f.submit %>
<% end %>
<%= link_to 'Voltar', {action: 'index'} %>
