<h1>Listagem de Alunos</h1>


<%= link_to 'Novo Aluno', new_aluno_path %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
<td></td>
      <th>Turma</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
	<td></td>
        <td><%= aluno.turma.nome %></td>
	<td>
      <%= link_to 'Mostrar', action: 'show', id: aluno %>
    </td>
<td>
      <%= link_to 'Editar', action: 'edit', id: aluno %>
    </td>
<td>
  <%= link_to 'Deletar', {action: 'destroy', id: aluno},
                         {method: "delete"}  %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Voltar', root_path %>
