
<h1>Listagem de turmas</h1>


<%= link_to 'Nova Turma', new_turma_path %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
<td></td>
      <th>Professor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.nome %></td>
	<td></td>
        <td><%= turma.professor.nome %></td>
	<td></td>
	<td></td>
	<td>
      <%= link_to 'Mostrar', action: 'show', id: turma %>
    </td>
<td>
      <%= link_to 'Editar', action: 'edit', id: turma %>
    </td>
<td>
  <%= link_to 'Deletar', {action: 'destroy', id: turma},
                         {method: "delete"}  %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', root_path %>
