<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @turma.nome %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @turma.professor.nome %>
</p>

<%= link_to 'Editar', edit_turma_path(@turma) %> |
<%= link_to 'Voltar', turmas_path %>
