<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @prova.nota %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @prova.aluno_id %>
</p>

<%= link_to 'Edit', edit_prova_path(@prova) %> |
<%= link_to 'Back', provas_path %>
