<h1>Editando Prova</h1>

<p>Aluno: <strong><%=@aluno.nome%></strong></p>

<%= form_for @prova do |f| %>
  Nota: <%= f.text_field :nota %><br/>
  <%= f.hidden_field 'aluno_id' %>
  <%= f.submit %>
<% end %>




<%= link_to "Voltar", :controller => "alunos",
                                 :action => "show",
                                :id => @aluno%>
